.content-wrap {
	display: flex;
}
.m-sidebar{
	width: 90px;
    border: none;
    background: #303456;
    text-align: center;
    height: 100%;
    position: fixed;
}
.d-main {
    
	background-color: rgb(226, 212, 212);
	flex-grow: 1;
	height:auto;
	
}
.MuiDrawer-paper {
    top: 0;
    flex: 1 0 auto;
    height: 100%;
    display: flex;
    outline: 0;
    z-index: 1200;
    position: fixed;
    flex-direction: column;
}
.home{
	display:flex;
	flex-direction: column;
	justify-content: flex-end;
	margin-left: 100px;
    margin-top: 100px;

}
